<div class="footer" style="padding: 1rem">
  <p>You are accessing an experimental web application developed by participants of the Team Project 2024 module.</p>
  <ul style="list-style-type: none; padding: 0">
    <li style="display: inline-block; margin-right: 1rem">
      <a href="https://drive.google.com/file/d/1UqpSt9ys9YfR9ePtG-WIZuqpELKRd3F2/view?usp=sharing">GDPR Policy</a>
    </li>
    <li style="display: inline-block">
      <a href="https://drive.google.com/file/d/1BxNA8Rd3KlbsXKkj5S-zNDbSrREwcYuq/view?usp=sharing">DPIA Form</a>
    </li>
  </ul>
</div>
