<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="overwatchMap">
      <h2 data-cy="overwatchMapDetailsHeading"><span>Overwatch Map</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ overwatchMap.id }}</span>
        </dd>
        <dt><span>Name</span></dt>
        <dd>
          <span>{{ overwatchMap.name }}</span>
        </dd>
        <dt><span>Mode</span></dt>
        <dd>
          <span>{{ overwatchMap.mode }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/overwatch-map', overwatchMap.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
