<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="teamPlayer">
      <h2 data-cy="teamPlayerDetailsHeading"><span>Team Player</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ teamPlayer.id }}</span>
        </dd>
        <dt><span>Role</span></dt>
        <dd>
          <span>{{ teamPlayer.role }}</span>
        </dd>
        <dt><span>Player</span></dt>
        <dd>
          <div *ngIf="teamPlayer.player">
            <a [routerLink]="['/player-data', teamPlayer.player.id, 'view']">{{ teamPlayer.player.id }}</a>
          </div>
        </dd>
        <dt><span>Team</span></dt>
        <dd>
          <div *ngIf="teamPlayer.team">
            <a [routerLink]="['/team', teamPlayer.team.id, 'view']">{{ teamPlayer.team.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/team-player', teamPlayer.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
