<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-game-player-heading" data-cy="GamePlayerCreateUpdateHeading">Create or edit a Game Player</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_team">Team</label>
          <select class="form-control" name="team" formControlName="team" id="field_team" data-cy="team">
            <option [ngValue]="null"></option>
            <option *ngFor="let gameTeam of gameTeamValues" [value]="gameTeam">gameTeam</option>
          </select>
          <div *ngIf="editForm.get('team')!.invalid && (editForm.get('team')!.dirty || editForm.get('team')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('team')?.errors?.required"> This field is required. </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_game">Game</label>
          <select class="form-control" id="field_game" data-cy="game" name="game" formControlName="game" [compareWith]="compareGame">
            <option [ngValue]="null"></option>
            <option [ngValue]="gameOption" *ngFor="let gameOption of gamesSharedCollection">{{ gameOption.id }}</option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_playerData">Player Data</label>
          <select
            class="form-control"
            id="field_playerData"
            data-cy="playerData"
            name="playerData"
            formControlName="playerData"
            [compareWith]="comparePlayerData"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="playerDataOption" *ngFor="let playerDataOption of playerDataSharedCollection">
              {{ playerDataOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
