<div>
  <h2 id="page-heading" data-cy="TournamentAccessibilityHeading">
    <span>Tournament Accessibilities</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-tournament-accessibility"
        [routerLink]="['/tournament-accessibility/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Tournament Accessibility </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="tournamentAccessibilities?.length === 0">
    <span>No Tournament Accessibilities found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="tournamentAccessibilities && tournamentAccessibilities.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span>ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="accessibility">
            <div class="d-flex">
              <span>Accessibility</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="tournament.id">
            <div class="d-flex">
              <span>Tournament</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let tournamentAccessibility of tournamentAccessibilities; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/tournament-accessibility', tournamentAccessibility.id, 'view']">{{ tournamentAccessibility.id }}</a>
          </td>
          <td>{{ tournamentAccessibility.accessibility }}</td>
          <td>
            <div *ngIf="tournamentAccessibility.tournament">
              <a [routerLink]="['/tournament', tournamentAccessibility.tournament.id, 'view']">{{
                tournamentAccessibility.tournament.id
              }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/tournament-accessibility', tournamentAccessibility.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/tournament-accessibility', tournamentAccessibility.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(tournamentAccessibility)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
