<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="tournamentAccessibility">
      <h2 data-cy="tournamentAccessibilityDetailsHeading"><span>Tournament Accessibility</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ tournamentAccessibility.id }}</span>
        </dd>
        <dt><span>Accessibility</span></dt>
        <dd>
          <span>{{ tournamentAccessibility.accessibility }}</span>
        </dd>
        <dt><span>Tournament</span></dt>
        <dd>
          <div *ngIf="tournamentAccessibility.tournament">
            <a [routerLink]="['/tournament', tournamentAccessibility.tournament.id, 'view']">{{ tournamentAccessibility.tournament.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/tournament-accessibility', tournamentAccessibility.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
